##########################################################################
# IDE
.vs/
.idea/
##########################################################################
# BUILD DIRECTORY
icelinux_x86_64/build/
##########################################################################
# OUT DIRECTORY
icelinux_x86_64/out/
##########################################################################
# PRIVATE
NOTE.md
##########################################################################