##########################################################################
# IDEA
.vs/
.idea/
##########################################################################
# BUILD DIRECTORY
icelinux_x86_64/iso/
icelinux_x86_64/work/
##########################################################################
# PRIVATE
NOTE.md
##########################################################################